.note-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}
.note {
    background: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 95%;
    width: 95%;
    min-width: 300px;
    padding: 8%;
    overflow-y: auto;
}
.note--empty-state {
    margin-inline: 20px 20px;
}
.note-text--empty-state {
    font-size: 1.5rem;
}
.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-inline-start: -12px;
}
.note-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.note-title {
    line-height: 1.3;
    flex-grow: 1;
    overflow-wrap: break-word;
    margin-inline-start: 12px;
}
.note-updated-at {
    color: var(--secondary-text);
    white-space: nowrap;
    margin-inline-start: 12px;
}
.note-preview {
    margin-block-start: 25px;
    white-space: pre-line;
    font-family: "Roboto", serif;
    font-size: 16px;
}

.toggle-button {
    display: none;
}

@media screen and (max-width: 480px) {
    .note-menu {
        align-items: flex-start;
        flex-direction: column;

        button {
            margin-inline-start: 12px;
        }
    }
    .toggle-button {
        display: block;
    }
}
