.sidebar-empty,
.sidebar-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-empty {
    height: 50vh;
}

.sidebar {
    background: var(--white);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    z-index: 1000;
    flex-shrink: 0;
    max-width: 350px;
    min-width: 250px;
    width: 30%;
    height: 100%;
    .sidebar-header {
        letter-spacing: 0.15em;
        text-transform: uppercase;
        padding-block: 36px 16px;
        padding-inline: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

ul.notes-list {
    padding: 16px 0;

    li {
        padding: 0 16px;
    }
}

.sidebar-note-list-item {
    position: relative;
    margin-bottom: 12px;
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-height: 100px;
    transition: all 250ms ease-out;
    transform: scale(1);
    background: var(--gray-95);

    border-radius: 6px;
    text-align: start;
    cursor: pointer;
    outline-style: none;
    font-size: 0px;
    border: 1px solid transparent;

    &.active {
        border: 1px solid var(--primary-border);
        background-color: var(--tertiary-blue);
    }

    &:focus {
        box-shadow: var(--outline-box-shadow);
    }

    &:hover {
        background: var(--gray-90);
    }

    .sidebar-note-header {
        z-index: 1;
        max-width: 85%;
        pointer-events: none;

        > strong {
            display: block;
            font-size: 1.25rem;
            line-height: 1.2;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &:hover .action-button {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }
}

.action-button {
    line-height: 0;
    z-index: 2;
    border-radius: 50%;
    height: 24px;
    border: 1px solid var(--gray-60);
    cursor: pointer;
    flex-shrink: 0;
    visibility: hidden;
    opacity: 0;
    cursor: default;
    transition: visibility 0s linear 20ms, opacity 300ms;
    outline-style: none;
    &:hover,
    &:focus {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }
    &:focus {
        box-shadow: var(--outline-box-shadow);
    }
    img {
        width: 10px;
        height: 10px;
    }
}

.empty-list,
.overlay-sidebar {
    display: none;
}

@media screen and (max-width: 480px) {
    .empty-list {
        display: block;
    }

    .sidebar-header {
        h4 {
            font-size: 1.8em;
        }

        button {
            padding: 5px 10px;
        }
    }

    .overlay-sidebar {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 99;
    }

    .sidebar {
        z-index: 999;
        position: absolute;
        left: -500px;
        transition: 0.3s all ease-in-out;

        &.open {
            left: 0;
            margin-right: 15px;
        }
    }
}
