@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
    font-family: "Roboto", serif;
    font-size: 14px;
    line-height: 16px;
    background-color: aliceblue;
}

@import "./reset";
@import "./main";
@import "./sidebar";
@import "./note-view";
@import "./new-note";
@import "./shared";
